= simple_form_for(@trip, :html => {:class => 'form-horizontal' }) do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
