.well
  = simple_form_for(@trip, :html => {:class => 'form-horizontal' }) do |f|
    - if @trip.errors.any?
      #error_explanation
        %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
        %ul
          - @trip.errors.full_messages.each do |msg|
            %li= msg
    = f.input :from, :collection => @trip.owner.places
    = f.input :to, :collection => @trip.owner.places
    .actions
      = f.button :submit, {class: 'btn btn-primary controls'}
      = link_to 'Back', :back
